body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    /* Arka plan rengi geçişini ekleyelim */
    background-color: #f0f8ff; /* Başlangıç rengi */
    transition: background-color 0.2s ease; /* Arka plan renginin 2 saniyede yumuşak geçişle değişmesi */
}

body:hover {
    /* Fare ile üzerine gelindiğinde arka plan rengini değiştir */
    background-color: #ffebcd; /* Yeni arka plan rengi */
}

h1 {
    color: #ff6347;
}

#login-container, #surprise-container, #video-container, #feedback-container {
    margin-top: 20px;
    text-align: center;
}

input, textarea {
    padding: 10px;
    width: 70%;
    margin-top: 10px;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff4500;
}
